.JoinOurCommunityContainer {
    padding: 60px 0px;
    max-width: 1200px;
    margin: 0 auto;
    margin-top: 100px;
}

.JoinOurCommunityContainer h2 {
    /* text-align: center; */
    font-size: 1.6rem;
    font-weight: 600;
    margin-bottom: 40px;
    color: #333;
}

.flexCommunity {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    gap: 40px;
    flex-wrap: wrap;
}

.leftCommunity {
    flex: 1;
    min-width: 300px;
    padding-right: 20px;
}

.leftCommunity p {
    font-size: 1.1rem;
    line-height: 1.6;
    margin-bottom: 20px;
    color: #555;
}

.joinButton {
    width: 100%;
    display: inline-block;
    background-color: #ffffff;
    color: #333;
    padding: 15px 30px;
    margin-top: 20px;
    text-decoration: none;
    border-radius: 5px;
    display: flex;
    gap: 10px;
    transition: background-color 0.3s ease;
}

.rightCommunity {
    flex: 1;
    min-width: 300px;
    text-align: center;
}

.rightCommunity img {
    max-width: 100%;
    height: auto;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/* Responsive design */
@media (max-width: 768px) {
    .JoinOurCommunityContainer {
    margin-top: 10px;
}
    .flexCommunity {
        flex-direction: column;
        gap: 30px;
    }
    
    .leftCommunity {
        padding-right: 0;
        text-align: center;
    }
    .leftCommunity p {
        text-align: start;
   }

    .JoinOurCommunityContainer h2 {
        font-size: 1.2rem;
    }
    .leftCommunity p {
    font-size: 1rem;
 
}

}